[2022-07-25 23:41] kabir0x23 opened #63 "[FEATURE] Free Courses"
### Detailed description

Free courses lists

### Context

Easy to get courses in the order

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-07-25 23:42] #63 closed

[2022-07-29 06:46] kabir0x23 opened #71 "[FEATURE] Free Courses page"
### Detailed description

[FEATURE] Free Courses page

### Context

[FEATURE] Free Courses page

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-07-29 06:46] kabir0x23 opened #72 "[FEATURE] Write ups page"
### Detailed description

**[FEATURE] Write ups page**

### Context

**[FEATURE] Write ups page**

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-24 08:28] #72 closed

[2022-08-24 08:28] #71 closed

[2022-09-28 05:26] kabir0x23 opened #98 "[FEATURE] Infinite scroll"
### Detailed description

- Add a limited number of news on the home page
- Set infinite scroll
  - 5 news on the main screen, while scrolling load more news

### Context

- User will get more news
- no need for pagination if we use infinite scroll

### Possible implementation

![image](https://user-images.githubusercontent.com/44284877/192694709-29f2eba8-3a88-471e-800a-b6e35fe867db.png)

also, ad

[2022-09-28 05:33] kabir0x23 opened #99 "[FEATURE] Blogs page"
### Detailed description

Add a Blog section to the site
Can be made using React + styled-components.
- Add dummy data after completing this page, we will add backend later on.
### Context

Blogs plays important role in learning

### Possible implementation

Example: 👇
- You can make this type UI under the blog section.
- https://www.thecyberhub.org/resources/blogs

![image](https://user-images.gi

[2022-09-28 05:38] Tusharjain123 commented on #98
Hey Can I work on this issue?

[2022-09-28 05:55] kabir0x23 commented on #98
- Yes, you can
- We will assign this issue to you.

[2022-09-28 06:14] kabir0x23 opened #100 "[FEATURE] Events Page"
### Detailed description

Add an Events page for the community, so they can active in the community and can participate in events.

### Context

- With events, community members can act in the community and can participate in events.

### Possible implementation

This is our events page:
![image](https://user-images.githubusercontent.com/44284877/192701359-72ddc0f7-8c5f-4e40-abc4-06de004fab68.png)

[2022-09-28 08:10] aritroCoder commented on #99
can you assign it to me? I know some react development

[2022-09-28 08:41] kabir0x23 commented on #99
Yes sure 🧑‍💻

[2022-09-28 09:08] aritroCoder commented on #99
![image](https://user-images.githubusercontent.com/92646038/192738624-d3901f61-05c7-4c7b-84d9-d587b2f27f68.png)

Is this design okay? You can suggest some more improvements

[2022-09-28 09:22] kabir0x23 commented on #99
Yes, this looks good,

suggestions:
make sure to check the reference: I have updated the example
![image](https://user-images.githubusercontent.com/44284877/192741856-58072b73-e13f-4722-a032-fc172b5dd152.png)

[2022-09-28 09:53] mohakgupt commented on #100
Can I do it? I know React

[2022-09-28 10:00] kabir0x23 commented on #100
Yes, sure.
you can make a page similar to as mentioned above
the main focus is now centered part.

I am assignig you the task.

[2022-09-28 10:19] kabir0x23 opened #101 "[FEATURE] Dropdown navbar"
### Detailed description

Nav bar
We have this type of navbar

If you click on any Item, it will smooth scroll down.
![image](https://user-images.githubusercontent.com/44284877/192752082-9c70fd0a-3865-46a8-acf2-8e91d31a7a8d.png)

for each each sub-sections, we have different navbars
so it becomes complex to use for new users.

If you will have any confusion, disscuss beflow: 👇

### Context

So we

[2022-09-28 10:56] kabir0x23 opened #102 "[FEATURE] Quiz section: Add categories"
### Detailed description

We have a simple quiz section:
![image](https://user-images.githubusercontent.com/44284877/192759334-fa15aa04-b002-4786-9491-8ae540ebd38f.png)

so we want to improve it.

### Context

Here is an example:
![image](https://user-images.githubusercontent.com/44284877/192761451-01a7ef81-36a8-4e80-9e57-53f45f5841ed.png)

we have to mention
networking, security awareness etx
mor

[2022-09-28 11:21] codewithnadeem14502 commented on #101
hello sir/mam, i want to contribute to it, can you assign me this issue and i am completely new to open source

[2022-09-28 11:35] kabir0x23 commented on #98
Will you checkout this repository frist?
https://github.com/CryptoverseWeb3/git-github-practice

+ You will get more green squares.

[2022-09-28 11:35] kabir0x23 commented on #99
Will you checkout this repository frist?
https://github.com/CryptoverseWeb3/git-github-practice

+ You will get more green squares

[2022-09-28 11:35] kabir0x23 commented on #100
Will you checkout this repository frist?
https://github.com/CryptoverseWeb3/git-github-practice

+ You will get more green squares

[2022-09-28 12:00] aswinikalyan30 commented on #102
Hey! can i take this up?

[2022-09-28 12:01] kabir0x23 commented on #102
Yes, go ahead, I am assigning you this issue.

First step is:
 - Will you checkout this repository frist?
https://github.com/CryptoverseWeb3/git-github-practice

- + You will get more green squares

[2022-09-28 14:18] kabir0x23 commented on #99
git-github-practice will not count as hacktober fest.
and yes you can make PR now.

[2022-09-28 16:58] mohakgupt commented on #100
Yeah thanks

[2022-09-28 17:32] aritroCoder commented on #99
![image](https://user-images.githubusercontent.com/92646038/192849974-3c856b17-c130-4d52-92aa-ccbce3368662.png)

Here, I have updated the design

[2022-09-28 17:37] kabir0x23 commented on #99
Nice, this is looking good.
Some suggestions:
- reduce the text to 2-3 lines
- add an image above the heading.

[2022-09-29 13:58] saimaheshtaduri commented on #101
I would like to contribute. if there's room, assign this issue to me. @kabir0x23

[2022-09-29 14:00] saimaheshtaduri commented on #102
Is the issue still open? if yes, assign to me, I am interested to contribute. @kabir0x23

[2022-09-29 14:02] kabir0x23 commented on #102
Yes, this issue is still open.

and the First step is:
- Will you check out this repository first?
  - https://github.com/CryptoverseWeb3/git-github-practice
  - You will get more green squares with this

I will assign this issue to you.

[2022-09-29 17:00] sumitbishti opened #103 "[Bug] Not Responsive on Smaller Screens"
### Describe the bug

1. A part of navbar is collapsing on smaller screens.
2.  And there is overflow on x-axis on smaller screens.

### To Reproduce

1. Open the Website
2. Change the resolution of the window to smaller sizes.
3. Scroll left to right to see the defect.

### Expected Behavior

Shouldn't be no overflow at x-axis and navbar elements shouldn't collapse with one-another on smaller siz

[2022-09-29 17:33] kabir0x23 commented on #103
The website is fully responsive, and also check the website on the mobile

![image](https://user-images.githubusercontent.com/44284877/193101983-46966a65-571d-40ff-b427-432c5c7a5aab.png)
![image](https://user-images.githubusercontent.com/44284877/193102189-361be83c-b518-47bb-9a36-f257136d15c3.png)

[2022-09-29 17:35] kabir0x23 commented on #99
Awesome.
Can I know, which technologies are being used in making blog page by you?

[2022-09-29 17:37] aritroCoder commented on #99
You can check the code, I have only use react and pure CSS

[2022-09-29 17:43] kabir0x23 commented on #99
Nice work, good.
Have you worked with styled-components before?

[2022-09-29 18:06] aritroCoder commented on #99
Here is the code

[2022-09-30 04:48] kabir0x23 commented on #99
Yes, I have checked the code
Good work.

1st thing, never push the code on the main branch directly
- always create branches
- example. you forked the repo(version: 10.0)
- now you directly push that code on your repo: (version increased: 13.0)
- now when you submit a PR, after merging(will become 14.)

just always create branches:
- fork the repo
- create new branches
- and then send those branch

[2022-09-30 04:57] aritroCoder commented on #99
Thanks, I have created a new branch, will make the PR from there

[2022-09-30 05:04] kabir0x23 commented on #99
Good 👍

[2022-09-30 05:15] sumitbishti commented on #103
As i already mentioned your website has x-axis overflow problem which you can see in the screenshot, plus you navbar's "Join Us" button is intersecting with "Community" link.
![Screenshot (27)](https://user-images.githubusercontent.com/75713174/193194605-af70dc2d-53f8-4707-a9d4-cc905df25774.png)

![Screenshot (28)](https://user-images.githubusercontent.com/75713174/193195213-0a56c6dd-5a6f-4186-a64

[2022-09-30 15:30] JhoanAlvear commented on #103
Can I do it? I know React

[2022-09-30 15:37] kabir0x23 commented on #103
Hey
first, analyze the website on your end, and check if is that really a bug or not.
and let us know, we will assign you this issue.

[2022-09-30 15:58] JhoanAlvear commented on #103
yes, it is a problem in the navbar and already fix it, only sucede with a certain resolution

[2022-09-30 16:02] sumitbishti commented on #103
@kabir0x23  Shouldn't I be the one taking care of it?

[2022-09-30 16:22] kabir0x23 commented on #103
I haven't assigned you this issue yet.
and we haven't decided yet, what to do with this issue.

[2022-09-30 16:27] kabir0x23 commented on #103
Hello @sumitbishti
I have a suggestion.
We can do one thing.
![image](https://user-images.githubusercontent.com/44284877/193314458-16e89897-fd62-4e38-9e5c-ca1a235dbbf3.png)

At this width, start hiding the buttons.
- like at specific width, hide the Twitter button
- and also make sure to keep an eye on the footer too.

if you will have any questions. let us now

If you can do this work, let me kno

[2022-09-30 16:32] sumitbishti commented on #103
Yes, I can take care of it.

[2022-09-30 16:35] kabir0x23 commented on #103
Okay, I have assigned this issue to you.

[2022-10-01 11:08] hritesh94 commented on #101
Can we Bootstrap for implementing the dropdown feature or tailwind css is the only option?

[2022-10-01 11:20] kabir0x23 commented on #101
Will you contribute here frist.
- will you first checkout this repo:
https://github.com/cryptoverseWeb3/git-github-practice

I will assign you this issue

[2022-10-01 12:12] mohakgupt commented on #100
![image](https://user-images.githubusercontent.com/100181077/193409030-adfc7ac8-e7d5-41a5-b2e1-9a53118122d8.png)
How is this layout?

[2022-10-01 12:15] mohakgupt commented on #100
![image](https://user-images.githubusercontent.com/100181077/193409139-25e071da-2b77-4e62-a4dc-2cb542aae11f.png)
How is this layout?

[2022-10-01 15:08] kabir0x23 commented on #100
looks good
Nice work @mohakgupt

[2022-10-01 15:24] kabir0x23 commented on #101
@saimaheshtaduri

[2022-10-01 18:36] Muhammad-Shahid-Jamal commented on #101
Hi @kabir0x23  I would like to contribute to this issue, assign this issue to me

[2022-10-01 18:38] yunsuklee commented on #101
Hey man! I'd love to try contributing to your project, let me know if I can be of any help :)

[2022-10-01 18:40] Muhammad-Shahid-Jamal commented on #101
I need more info about it do you need only a hover type ladder based menu just for the desktop or do you need it also on mobile devices? @kabir0x23

[2022-10-01 18:54] kabir0x23 commented on #101
Will you contribute here frist.

    will you first checkout this repo:
    https://github.com/cryptoverseWeb3/git-github-practice

I will assign you this issue

[2022-10-01 19:04] kabir0x23 commented on #101
Will you contribute here frist. you will get more green sqaures

    will you first checkout this repo:
    https://github.com/cryptoverseWeb3/git-github-practice

I will assign you this issue

[2022-10-01 19:23] Muhammad-Shahid-Jamal commented on #101
@kabir0x23  its done

[2022-10-02 05:22] #99 closed

[2022-10-02 05:27] Saurav-Singh-Rauthan commented on #101
![image](https://user-images.githubusercontent.com/54982868/193439386-9e8dcf2d-3d7a-4452-90b0-388d28fa5018.png)
are you looking for something like this? @kabir0x23

[2022-10-02 05:27] Saurav-Singh-Rauthan commented on #101
i can give it a try

[2022-10-02 05:47] #100 closed

[2022-10-02 06:17] kabir0x23 commented on #101
already shared the example above
must give a look

[2022-10-02 06:25] kabir0x23 commented on #101
@Muhammad-Shahid-Jamal @saimaheshtaduri @Saurav-Singh-Rauthan @yunsuklee
This issue is in high priority (if possible, we want it by today or max tomorrow)

If anyone from you is want to do let me know,I will assign this issue to you
Thanks,

[2022-10-02 06:34] kabir0x23 commented on #98
Hello @Tusharjain123
any progress?

[2022-10-02 06:41] kabir0x23 opened #108 "[FEATURE] Jobs/Internships page"
### Detailed description

For example, what we trying to build:

<img src="https://user-images.githubusercontent.com/44284877/193441392-ea8f3663-e779-492c-b89e-53d627d7f144.png" alt="drawing" width="350"/>

our website link:
https://www.thecyberhub.org/prep/jobs
http://localhost:3000/prep/jobs

### Context

The jobs page will going to help community members and other users

### Possible implementa

[2022-10-02 06:48] Chitvan14 commented on #108
Hi @kabir0x23, I will be happy to make this enhancement, Please assign this issue to me.

[2022-10-02 06:50] kabir0x23 commented on #108
Will you contribute here first? you will get more green squares too.
-    will you first checkout this repo:
 -   https://github.com/cryptoverseWeb3/git-github-practice

I will assign this issue to you.

[2022-10-02 07:02] saimaheshtaduri commented on #101
@kabir0x23 I will try it out. assign to me

[2022-10-02 07:06] kabir0x23 commented on #101
assigned ✔

[2022-10-02 07:06] Chitvan14 commented on #108
Okay, I will check the following repo. For information, here more green squares, mean multiple commits?

[2022-10-02 07:07] kabir0x23 commented on #108
- yup, more commits, and little practice

[2022-10-02 07:08] kabir0x23 commented on #108
I have assigned this issue to you.
👨‍💻🚀

[2022-10-02 07:13] abdullmustyy commented on #102
Hi, @kabir0x23

I have checked out the [repository ](https://github.com/CryptoverseWeb3/git-github-practice) repo. I am familiar with Git and GitHub flow and have seen that the repo is a Git and GitHub guide.

I'd be happy to take on this task. So, please assign the issue to me.

[2022-10-02 07:20] Tusharjain123 commented on #98
I am working on it

[2022-10-02 07:25] kabir0x23 commented on #102
Awesome, I am assigning this issue to you.
If you will have any doubts and questions, let us know.

[2022-10-02 07:27] saimaheshtaduri commented on #101
can I use react bootstrap library ? @kabir0x23

[2022-10-02 07:27] kabir0x23 commented on #98
Awesome, I am assigning this issue to you.
If you will have any doubts and questions, let us know.

[2022-10-02 07:29] kabir0x23 commented on #101
nope we are using styled-components here,so you can use only styled-components or direct CSS
If you will have any doubts or questions, let us know.

[2022-10-02 07:42] abdullmustyy commented on #102
Thank you.

What's bothering me atm is:
In the first screenshot, there are only four options but in the second screenshot, there are seven slots for options. I want to confirm if the third screenshot will be the option replacement.

[2022-10-02 07:45] Tusharjain123 commented on #98
Where should I add the infinite scroll feature because in website there is no cybernews column?
![thecyberworld - Google Chrome 02-10-2022 07_28_47](https://user-images.githubusercontent.com/103761473/193443613-f9fb820d-9d26-4975-8bf1-bfed81f0d548.png)

[2022-10-02 07:47] kabir0x23 commented on #102
We have to add these categories above there
We don't have to change the quiz section:
hope this image will clear your doubts:
![image](https://user-images.githubusercontent.com/44284877/193443698-32d2e348-1f30-43ed-8af7-2b640bf713f2.png)

If you will have any doubts and questions, let us know.

[2022-10-02 07:50] kabir0x23 commented on #98
there is, under resoruces section
https://www.thecyberhub.org/resources/cybernews

If you will have any doubts and questions, let us know.

[2022-10-02 07:54] kabir0x23 commented on #101
you can watch this video if you got stuck, as a reference https://youtu.be/T2MhVxJxsL0

[2022-10-02 07:54] abdullmustyy commented on #102
Alright, I get it.
I'm on it. Thank you.

[2022-10-02 09:12] Tusharjain123 commented on #98
ok thanks

[2022-10-02 11:04] saimaheshtaduri commented on #101
@kabir0x23  I have just raised a pr, the sample is ready. The code can be improved for sure.. This is just to confirm whether I am on right track on not. If yes, let me know I can raise another issue and work on the code improvisation.
Thanks :)

[2022-10-02 12:56] kabir0x23 opened #111 "[FEATURE] Simple Website chatbot"
### Detailed description

When clicking on the chatbot logo
A window will be open
example:
![image](https://user-images.githubusercontent.com/44284877/193454853-2d80517b-3126-4dae-86ae-c6a7427c0c51.png)

---

As in the above image we can see, two options got displayed.
- when a user clicks on a particular option, a specific answer should be displayed over there.

Example:
Option 1: Hello
user clic

[2022-10-02 13:13] Anjali2201 commented on #111
Would like to contribute!

[2022-10-02 13:15] kabir0x23 commented on #111
Awesome,
I am assigning you this issue.

If you will have any doubts or questions, you can ask them below.

Thanks.

[2022-10-02 13:31] iyinolu commented on #108
Hi @kabir0x23 I am interested in implementing this feature, Please assign this issue to me.

[2022-10-02 13:34] kabir0x23 commented on #108
Hey, this issue is already got assigned

We have a similar website where you can create this same issue or work on that
https://github.com/cryptoverseWeb3/community.CryptoverseWeb3

[2022-10-02 13:47] iyinolu commented on #108
When you say create this same issue, are you trying to add a job/internship page on https://community.cryptoverseweb3.com/ ?

[2022-10-02 13:48] kabir0x23 commented on #108
yes absolutely

[2022-10-02 13:55] iyinolu commented on #108
how do i get more information about this issue?

[2022-10-02 13:59] kabir0x23 opened #112 "[FEATURE] Registration from page"
### Detailed description

Registration from the page:
We have to build a similar page like this using react + css or styled-components.
left section got completed, right form section got left.
![image](https://user-images.githubusercontent.com/44284877/193457798-42ebbe41-a39a-4e0d-836d-b766e2f3a14d.png)

### Context

Registration from page will help while registring for accounts or for events.

##

[2022-10-02 14:00] kabir0x23 commented on #108
more information?

[2022-10-02 14:09] Alcadeus0 commented on #112
Hi I'd like to take this issue up!

[2022-10-02 14:11] kabir0x23 commented on #112
Awesome
I am assigning this issue to you.

[2022-10-02 15:17] CreatorLZ opened #113 "[FEATURE] Animate components on scroll in homepage"
### Detailed description

Hi!. I would like to help animate the components in the landing page and give the page a more life like feel. this is in continuity of the precedence already set by the **HeroBg** component.

### Context

this change will improve overall user experience.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I ag

[2022-10-02 15:18] iyinolu commented on #112
I'd love to work on this with @Alcadeus0

[2022-10-02 15:18] CreatorLZ commented on #113
please kindly assign this issue to me! . thanks !

[2022-10-02 16:55] #103 closed

[2022-10-02 16:59] KiranAminPanjwani opened #115 "[BUG] Want to add an Hover effect on anchor links."
### Describe the bug

The Overall website is awesome! 💚
But I have noticed that the "Contribute" and "Join" has no hover effect in the "About Thecyberworld" section.
Similarly, the same goes with the "Resources" drop-down menu.

### To Reproduce

I want to add a hover effect to the "Contribute" and "Join" text which will make it easier for the user to navigate.
I also want to add hover effects on

[2022-10-02 17:02] kabir0x23 commented on #113
Hello @CreatorLZ .
- Can you elaborate more, like what you want to do exactly?

[2022-10-02 17:06] kabir0x23 opened #116 "[FEATURE] Single page Blogs"
### Detailed description

This feature is about:
- we have a blog page ->
- we want, when someone clicks on the blog, it's content should be displayed on the screen.
- For example hashcode, medium

### Context

![image](https://user-images.githubusercontent.com/44284877/193466713-2dfde12a-52e0-42c6-8814-51a32f21beb4.png)
- links:
  - https://www.thecyberhub.org/resources/blogs
  - http://localhost

[2022-10-02 17:10] aritroCoder commented on #116
You can assign this issue to me now

[2022-10-02 17:16] CreatorLZ commented on #113
[https://creatorlz.github.io/Huddle/](Something like this). Observe the behaviour of the components with descriptions
![IMG_20221002_181550](https://user-images.githubusercontent.com/99528764/193467177-0e8ee7d2-2c99-4346-a925-525f7ecaaa5c.jpg)

[2022-10-02 17:30] Alcadeus0 commented on #112
@iyinolu sure I'd love some help since its quite a task

[2022-10-02 17:34] kabir0x23 commented on #112
Okay then, i have assign this task to both of you

if u need any help or having questions and doubts, let us know

[2022-10-02 17:41] #101 closed

[2022-10-02 17:53] iyinolu commented on #112
great, @Alcadeus0 where can we communicate better. Can I send a message on LinkedIn?

[2022-10-02 17:54] Alcadeus0 commented on #112
@iyinolu sure let me send a text

[2022-10-02 18:02] kabir0x23 commented on #112
you can talk on discord
we have open-source chat there too

[2022-10-02 18:12] Alcadeus0 commented on #112
@kabir0x23 does the page need to be scrolled into view in the homepage or will it be a standalone one?

[2022-10-02 18:18] kabir0x23 commented on #112
Hey @Alcadeus0
This page need to be stand alone

and you can create a registor button at the end of the navbar
once user clicks on the button, that registration page should be displayed.

If you will have any doubts and questions, let me know,

Thanks.

[2022-10-02 18:21] Alcadeus0 commented on #112
@kabir0x23 thanks for the info. We'll move to the discord server.

[2022-10-02 18:34] iyinolu commented on #112
@kabir0x23 can we get the background image on the login screen?

[2022-10-02 18:35] iyinolu commented on #112
and perhaps if there is a figma design for it.

[2022-10-02 18:42] kabir0x23 commented on #112
Hey @iyinolu
You can use this image.

![CybersecurityRegPage](https://user-images.githubusercontent.com/44284877/193470592-3e735d8b-b4d4-4a4c-9b45-ab2ecfc8c707.png)

[2022-10-03 04:38] kabir0x23 opened #117 "[FEATURE] Navbar: new dropdown navbar"
### What would you like to share?

I have a new issue, will create it.

---
At homepage:

![image](https://user-images.githubusercontent.com/44284877/193499082-1f1a1ca3-6e1f-4144-8053-c1225f297cd5.png)

when we click on community, it will go down by smooth scroll

We want to use the same navbar on every page, (the same navbar is currently on my local machine,.)
so when we are on a different page.

[2022-10-03 05:04] aritroCoder commented on #116
[Screencast from 03-10-22 10:33:18 AM IST.webm](https://user-images.githubusercontent.com/92646038/193504920-b71cae28-01c5-41dc-956e-f8db11d10d11.webm)
I have added this blog page, please comment if it is okay

[2022-10-03 05:10] kabir0x23 commented on #116
Cool, looks good

[2022-10-03 05:18] saimaheshtaduri commented on #117
@kabir0x23 I think we can, not sure though. Assign the task to me. I will work on it and update you.

[2022-10-03 05:25] kabir0x23 commented on #117
Let's discuss first

[2022-10-03 05:26] kabir0x23 commented on #117
I have an idea
like in every section we have button now.okay
so we can add a downicon-button, when user clicks on that, that will navitgate them below

[2022-10-03 06:59] aritroCoder commented on #116
I have made the PR

[2022-10-03 07:39] saimaheshtaduri commented on #117
I have another idea.
we can add a `<Link to"/"> ` to homepage in the nav bar, so that at first homepage opens up and scrolls to corresponding section.

I think this works. Is this oky for you ?

[2022-10-03 07:39] saimaheshtaduri commented on #117
can you push your changes to a new branch may be, so that I can work on it. Thanks @kabir0x23

[2022-10-03 08:02] #116 closed

[2022-10-03 08:03] kabir0x23 commented on #117
okay, I am creating a new, branch

[2022-10-03 08:23] kabir0x23 commented on #117
here is the branch, i have pushed the code here
https://github.com/thecyberworld/thecyberhub.org/tree/fix-navbar-design

[2022-10-03 08:29] kabir0x23 commented on #117
I have a new design. i am sharing it , and will make different issues

[2022-10-03 08:58] kabir0x23 opened #121 "[FEATURE] Community page (separate page)"
### Detailed description

We have to build a community page.

- A little bit about community
- Discord link
- Twitter about our community

### Context

The community page will help user to know more about the community
and will be able to join the community through the community page.

### Possible implementation

Example page:
![image](https://user-images.githubusercontent.com/44284877/193537160-

[2022-10-03 09:02] akshitarora921 commented on #121
@kabir0x23, Can I take this?

[2022-10-03 09:04] kabir0x23 commented on #121
Hello @akshitarora921,
I am assigning you this issue

[2022-10-03 10:47] abdullmustyy commented on #102
Hi, @kabir0x23

I'm sorry it's coming this late. I had to round a personal project of mine before jumping on this one.
Anyways, here is what I have implemented. ➡️ [Image](https://im.ge/i/Screenshot-4.1KUekD)

I believe the UI looks nice the way I implemented it, but if you insist you want it the way it was in the demo, I'll need the UI specifications.

Question: Where do we get each category's qu

[2022-10-03 11:09] kabir0x23 commented on #102
It's awesome

[2022-10-03 11:13] abdullmustyy commented on #102
Thank you.
I'd get to it now.

I have just made a PR, please review it.

[2022-10-03 12:27] kabir0x23 commented on #102
You still can improvement above questions
In the same PR and have to push the code

It will be automatically reflect on the same PR

If you will going to add above stuff
Then it will be more valuable for hacktoberfest.

[2022-10-03 13:53] kabir0x23 commented on #112
Hey @Alcadeus0

That circle with quarter cut for the icon is not required.
If you want to use any icon over there then you can use it.

[2022-10-03 17:03] lordashuchauhan commented on #115
Hey! is this issue under Hacktoberfest 2022?
If yes I would like to work on this.

[2022-10-03 17:07] kabir0x23 commented on #115
Nope, hovering something shouldn't be in hacktoberfest.
You can check other issues as well.

[2022-10-03 17:09] kabir0x23 commented on #115
Hey @KiranAminPanjwani
This is not any type of bug, we made this intentionally.

We are restructuring our community website, and we have created many issues, must give a look.
if you need more issues, then you can check out my profile, I have mentioned 10+ open-source projects

[2022-10-04 05:06] CreatorLZ commented on #113
Hi kabir0x23 should I close this issue ?

[2022-10-04 08:50] kabir0x23 commented on #113
Hey @CreatorLZ I am closing this issue.

You can create something like issue or features requests

Thanks.

[2022-10-04 08:51] #113 closed

[2022-10-04 14:54] Anjali2201 commented on #111
Would not be able to contribute to this, please assign someone else

[2022-10-04 15:17] kabir0x23 commented on #111
@Anjali2201
Okay, I will assign this to someone else

Thanks for your time.

[2022-10-04 15:26] abdullmustyy commented on #102
Hi, @kabir0x23

I have implemented the functionalities, see a video of how it is. ➡️ [Video](https://vimeo.com/756829750)

[2022-10-04 15:27] saimaheshtaduri commented on #117
@kabir0x23  any updates regarding navbar ?

[2022-10-04 15:28] saimaheshtaduri commented on #108
Can I contribute here ?

[2022-10-04 16:32] abdullmustyy commented on #102
@kabir0x23

I have just made a PR, please review it. Thank you.

[2022-10-04 18:04] kabir0x23 commented on #108
Hello @Chitvan14
Any progress?
you are working on this issue, right?

[2022-10-05 06:09] #102 closed

[2022-10-05 06:10] kabir0x23 commented on #117
Yes, we will create new issues by today, in some minutes

Thanks.

[2022-10-05 06:19] saimaheshtaduri commented on #117
@kabir0x23 if possible let me know once you raise an issue, I can contribute.
Thanks !

[2022-10-05 06:24] kabir0x23 commented on #117
@saimaheshtaduri
I have raised an feature request before

It;s just simple chatbot
must give a look #111

sure i will tag you once the issues got raised

Thank you.

[2022-10-05 06:26] saimaheshtaduri commented on #111
Can I give it a try ?@kabir0x23

[2022-10-05 06:28] kabir0x23 commented on #111
Yeah, sure

I am assigning you this issue.

[2022-10-05 11:11] kabir0x23 opened #128 "[BUG] Sidebar"
### Describe the bug

When we click on the sidebar-nav item, it automatically closes the sidebar and opens the new page.
whereas when we click on the dropdown nav-items, it doen;t close the sidebar automatically
under Learn navitem:
- navitem > learn
- navitem > learn > prep

<img src="https://user-images.githubusercontent.com/44284877/194046321-07e9b714-84e0-4c89-9c16-57a022e0874d.png" alt="drawi

[2022-10-05 11:14] kabir0x23 commented on #128
@saimaheshtaduri this was working fine before when we are having different navbars and when we were on the homepage.
but now as we have only the same bar. now sidebar is not getting toggle.

[2022-10-05 11:18] kabir0x23 opened #129 "[FEATURE] Add single Event page (like blog)"
### Detailed description

We have this Events page.
<img src="https://user-images.githubusercontent.com/44284877/194047980-850511f0-658e-47c0-adc8-51bae968f957.png" alt="drawing" width="100%"/>

When someone clicks on the events, particular details should be open according to the event id

when the user clicks on event-1, the details of event-1 should be open.

### Context

This will help users to

[2022-10-05 11:19] kabir0x23 commented on #129
Hello @aritroCoder
If you want to do.. Let us know

Thank you.

[2022-10-05 12:06] kabir0x23 commented on #108
@iyinolu @saimaheshtaduri
Any one from is wanted to work on this issue let me know, i will assign you this issue.

Thanks.

[2022-10-05 12:29] iyinolu commented on #108
You can assign it to me. Thanks

[2022-10-05 12:34] kabir0x23 commented on #108
Awesome.
assigned.

If will have any doubts, let me know below 😀

[2022-10-05 12:47] saimaheshtaduri commented on #128
I will work on this. Please assign me @kabir0x23

[2022-10-05 12:49] kabir0x23 commented on #128
Awesome, assigned 🚀

[2022-10-05 15:44] kabir0x23 opened #130 "[BUG] [FEATURE] Quiz categories are overflowing"
### Describe the bug

Quiz categories are overflowing.

Example:
<img alt="drawing" width="1000" src="https://user-images.githubusercontent.com/44284877/194101381-2f2c2aea-df0f-4d8d-b6fd-4692eecf9176.png">

we can make a dropdown, when we click on the dropdown, only then categories should be visible to use.

### To Reproduce

If you need any help or have any doubts, let us know

Thank you

### Exp

[2022-10-05 16:08] andreaevolo commented on #130
Are you refering to the categories to the right? I would like to solve this issue.

[2022-10-05 16:11] kabir0x23 commented on #130
We want a dropdown, when we click on that button, then categories should be displayed by a dropdown.
Example:
![image](https://user-images.githubusercontent.com/44284877/194109496-83d890cb-01c9-4791-880a-9a37b2bb243d.png)

If you have any doubts let me know.

[2022-10-05 16:30] kabir0x23 commented on #130
Okay, you can fix the overflowing issue

[2022-10-05 17:01] andreaevolo commented on #130
![contrib-mobile](https://user-images.githubusercontent.com/37835057/194118395-10e3477a-df63-4e45-abee-5aa75701c4d1.PNG)
![contrib-desktop](https://user-images.githubusercontent.com/37835057/194118410-df6ec889-057a-4bf1-9890-1751acb06c2b.PNG)
I've made this changes, but I would olso need to modify the CBQ component to adjast the layout on mobile.

[2022-10-05 17:10] kabir0x23 commented on #130
See
![image](https://user-images.githubusercontent.com/44284877/194120395-2cbfebeb-28c7-4f54-a2d2-b550fac3a1ae.png)
![image](https://user-images.githubusercontent.com/44284877/194120448-880c6fa4-c190-45e1-8e09-4db44f1d16ba.png)

i was talking about this

[2022-10-05 17:37] andreaevolo commented on #130
Okay later I'll work on that. Can I keep the changes I've already made?

[2022-10-05 17:38] kabir0x23 commented on #130
yes..

[2022-10-05 17:39] kabir0x23 commented on #130
you can just add a dropdown in this
![image](https://user-images.githubusercontent.com/44284877/194125764-299b867f-7e20-454c-8087-62f8428d5a18.png)

[2022-10-05 19:54] andreaevolo commented on #130
So thinking of building a new component, the description of the dropdown will be visible when hovering the button, when it is clicked it will show all the other quizzes links. What do you think?

[2022-10-05 20:02] kabir0x23 commented on #130
Yes, great

[2022-10-05 20:36] RahulSharma4329 commented on #129
Hey @kabir0x23 I would like to work on this issue can you assign this to me

[2022-10-05 20:37] kabir0x23 commented on #129
Yes sure

I am assigning this issue to you.

[2022-10-05 20:42] RahulSharma4329 commented on #129
Can you please tell me how the new events are added to the the page ? Is it hard coded into the page ?

[2022-10-05 21:02] kabir0x23 commented on #129
events details are in the data filr

[2022-10-06 07:49] ShorunTech opened #135 "[FEATURE] Create About section"
### Detailed description

If you click on the About Tab you will only see About without fully details.
but there is About Section on the page, is just to link the About tab to the section on page.

### Context

-- Give new visitor a brief of what the website is all about
-- click on the About Tab to link to the section
-- Help others to easily navigate

### Possible implementation

_No response_

[2022-10-06 07:50] ShorunTech commented on #135
I can work on it, If assign to me.

[2022-10-06 08:36] 17rashi opened #136 "want to add a logo to this project and edit blog section"
### Detailed description

I have designed the logo for this project and also blog section is redirecting to some random page instead of certain articles about the same.

### Context

It will make the website look more beautiful

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-06 08:41] 17rashi opened #137 "want to add a logo to this project and edit blog section to make it perfect."
### Detailed description

Logo is not there only the name of website is written. So I will design a logo and add it to the website.
Blog section is not properly designed and it is redirecting to random place instead of any real blog.

### Context

This change can make the website look more beautiful.

### Possible implementation

_No response_

### Additional information

_No response_

### Code o

[2022-10-06 08:45] 17rashi commented on #137
mistakenly created it twice

[2022-10-06 08:56] kabir0x23 commented on #135
Yes sure, we have create the content of the about section.

[2022-10-06 09:09] 17rashi commented on #136
Actually, your logo was not visible on the home page so I thought this website doesn't have.
![image](https://user-images.githubusercontent.com/87816619/194273255-707a31ce-4b83-41ac-92ff-34d062399dd1.png)
![image](https://user-images.githubusercontent.com/87816619/194273606-60683e9d-071c-4e26-86e4-5bb9c6c77ab3.png)

[2022-10-06 13:17] 17rashi commented on #136
Just one thing, by given logo you mean?
and should I make the blog cards redirect to certain articles or is there any page available for the content because I couldn't see any?

[2022-10-06 13:39] 17rashi commented on #136
Okay :)

[2022-10-07 04:26] kabir0x23 commented on #130
@andreaevolo Any progress mate?
If you need any help let me know...

[2022-10-07 04:26] kabir0x23 commented on #98
Hey, @andreaevolo Any progress?

If you need any help let me know...

[2022-10-07 04:27] kabir0x23 commented on #108
Hey, @iyinolu Any progress?

If you need any help let me know...

[2022-10-07 05:40] abdullmustyy commented on #121
Hi, @kabir0x23

I see this issue has no assignee, and I'd love to work on it.
Assign it to me, please.

[2022-10-07 05:44] abdullmustyy commented on #121
Question: Where do I the image/video for the background, and also the testimonials?

[2022-10-07 05:49] kabir0x23 commented on #121
awesome, i am assigning it to you.

[2022-10-07 05:50] kabir0x23 commented on #121
you can leave the testimonials for now

the center section would be greate for now.

If you will have any questions, let us know.

Thank you.

[2022-10-07 05:57] abdullmustyy commented on #121
Alright, I'll need the background image and the discord channel link.

[2022-10-07 06:02] kabir0x23 commented on #121
discord link you can take from the footer.
image:

![community_background](https://user-images.githubusercontent.com/44284877/194478554-8dd5ae26-1f61-4a29-a451-9f00822b5188.png)

[2022-10-07 06:57] kabir0x23 commented on #129
If you need any help or having any doubts, let us know.

[2022-10-07 07:11] abdullmustyy commented on #121
Alright, thank you.
I'm on it.

[2022-10-07 07:48] kabir0x23 opened #142 "[BUG] Overflowing the blogs (not responsive)"
### Describe the bug

Overflowing the blogs section:
- not responsive in blogs

Blogs section:
- overflowing the sides in the blog section:
- <img src="https://user-images.githubusercontent.com/44284877/194499407-65a054a0-692a-437b-ba3c-784ca854a46d.png" alt="image" width="200"/>

Event section:
- working fine in events (similar design and code)
- <img src="https://user-images.githubusercontent.co

[2022-10-07 07:52] kabir0x23 opened #143 "[BUG] Blogs are not responsive"
### Describe the bug

Blogs are not responsive

View blog:
- On mobile:
  - <img src="https://user-images.githubusercontent.com/44284877/194500962-b14f541b-2881-4c0c-bec6-304f090012ea.png" alt="image" width="200"/>
- On Desktop:
  - <img src="https://user-images.githubusercontent.com/44284877/194501207-adae52e9-35db-44a2-90a7-0f909c3903dc.png" alt="image" width="200"/>

### To Reproduce

local: ht

[2022-10-07 08:11] abitsalihu commented on #143
Hey @kabir0x23, I would like to help with this issue. :)

[2022-10-07 08:13] kabir0x23 commented on #143
Awesome

I have assigned this issue to you.

[2022-10-07 08:31] indiehjaerta commented on #142
Hello @kabir0x23 I would like to try this as my first issue ever

[2022-10-07 08:34] kabir0x23 commented on #142
Hello @indiehjaerta

Sure, I am assigning you this issue.

[2022-10-07 09:50] #115 closed

[2022-10-07 13:00] ShorunTech commented on #135
working on it

[2022-10-07 13:05] kabir0x23 commented on #135
okay, nice

If you will need any help or have any questions or doubts let us know below.
Thank you.

[2022-10-07 17:44] #142 closed

[2022-10-07 18:11] abdullmustyy commented on #121
Hi @kabir0x23
Is this okay?

![Screenshot (7)](https://user-images.githubusercontent.com/87391935/194622502-51354e6b-9d5a-4a40-976b-5b375639ef73.png)

[2022-10-07 18:14] kabir0x23 commented on #121
okay?
It's just Awesome

[2022-10-07 18:16] kabir0x23 commented on #121
can you do one change?

discord color: papule
green looks good. but the thing is discord is purple will look different
What do you think?

[2022-10-07 18:20] kabir0x23 commented on #121
green looks good too

[2022-10-07 18:22] abdullmustyy commented on #121
Hmmm, I'll do that now. Thank you.
So, what next?

[2022-10-07 18:28] abdullmustyy commented on #121
Hmmm, not bad.

![Screenshot (8)](https://user-images.githubusercontent.com/87391935/194625189-d6ea1fa7-b263-4a7d-b0b1-b5fc42ad4abc.png)

[2022-10-07 18:29] kabir0x23 commented on #121
Awesome
I think You can make a PR now

[2022-10-07 18:30] abdullmustyy commented on #121
Okay, I'll do that now.
Thank you.

[2022-10-07 18:30] kabir0x23 commented on #121
thanks for the contribution. 😄

[2022-10-07 18:37] abdullmustyy commented on #121
Thank you @kabir0x23

I'm so sorry. I got carried away and ran "git add ."
I hope it won't be a problem. I promise it won't happen again.

[2022-10-07 18:40] kabir0x23 commented on #121
It's okay, don't need to say sorry, it happens.
I will make changes from my side if some unwanted files got committed.

[2022-10-07 18:45] abdullmustyy commented on #121
Alright, thank you so much.

I've just made a PR, please review it.

[2022-10-08 11:18] abdullmustyy commented on #130
Hi @kabir0x23
What's good? So, I decided to finish what I started with this contribution.

I have implemented the dropdown you requested, and I'm adding some finishing touches. I'll send images in a minute.

[2022-10-08 12:54] abdullmustyy commented on #130
Hi @kabir0x23

![Screenshot (10)](https://user-images.githubusercontent.com/87391935/194708520-a05d1f3f-06f4-4670-9301-3a3f0a44f7a0.png)

![Screenshot (11)](https://user-images.githubusercontent.com/87391935/194708523-eff4d31d-ed8d-486a-80b9-829531e50c7d.png)

![Screenshot (12)](https://user-images.githubusercontent.com/87391935/194708525-646b9b9f-97c8-4a62-b2ce-201a08b70395.png)

![Screenshot (15

[2022-10-08 12:54] abdullmustyy commented on #130
What do you think?

[2022-10-08 12:55] kabir0x23 commented on #130
Awesome.

looking good.

[2022-10-08 12:58] #121 closed

[2022-10-08 13:16] abdullmustyy commented on #130
@kabir0x23
I just made a PR, please review it.
Thank you.

[2022-10-08 14:18] A-Spiral-Forge opened #155 "[FEATURE] Change in URL structure of blogs"
### Detailed description

Currently the blog URL are displayed like this:
[code]
I think if we display the URL in below format it will be much better. New format:
[code]

### Context

I think this is important because we can go to the blog directly through URL by typing title of the blog.
It also looks nicer then using querying parameters.

### Possible implementation

Just by changing a little co

[2022-10-08 14:19] A-Spiral-Forge commented on #155
@kabir0x23 If you consider this please assign it to me.

[2022-10-08 14:57] kabir0x23 commented on #155
Awesome,

Sure I am assigning this issue to you.

[2022-10-08 18:06] theAnvil01 opened #156 "[BUG] Extra Space in Index.html"
### Describe the bug

There a irregular space between words , which might reflect and also deform main webpage.

### To Reproduce

go to cyber security

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-08 18:27] #156 closed

[2022-10-08 20:32] abdullmustyy commented on #130
@kabir0x23

[2022-10-08 23:03] ziarparvaiz opened #158 "[FEATURE] Blog card component UI"
### Detailed description

I can make the blog card (Blogs Elements) component a little more stylish it will look nicer and with tag buttons.

![Screenshot 2022-10-09 at 02-03-07 Cyber Security Made Easy](https://user-images.githubusercontent.com/50423368/194730637-b815d7c4-8a72-439d-a60a-10f019e73e15.png)

### Context

This will make your website UI better.

### Possible implementation

Hover bord

[2022-10-09 09:40] kabir0x23 commented on #158
Okay, I am assigning you this issue.

[2022-10-09 13:25] kabir0x23 commented on #117
@saimaheshtaduri

![image](https://user-images.githubusercontent.com/44284877/194759372-cab3c49a-55ca-47db-87d5-5e08bf04bafe.png)

Like we are working on dropdowns, like two separate dropdowns. like shown in the above image.

want to work on this issue?

[2022-10-09 13:36] #130 closed

[2022-10-09 14:02] sanketshevare opened #159 "Blog data (blog details) are not responsive on mobile"
### Detailed description

Blog details are not responsive can i eork on this?

### Context

All text shows in the middle of screen and user will not read it properly from small devices

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

![Screenshot_2022-10-09-19-34-12-77.jpg](https://u

[2022-10-09 14:03] kabir0x23 commented on #159
Duplicate #143

[2022-10-09 14:05] kabir0x23 commented on #159
Thanks for creating this issues, This blog issues is already got mentioned in issues and already has been assigned

[2022-10-09 14:06] saimaheshtaduri commented on #117
Yes! I will. Assign to me @kabir0x23

[2022-10-09 14:11] #159 closed

[2022-10-09 14:16] kabir0x23 commented on #117
Awesome

[2022-10-09 14:22] kabir0x23 commented on #117
Suggestions:
- Learn:
  - Roadmap
  - Courses
  - blogs
- we can remove the side dropdown:
  - Prep
- under the resources section:
  - quiz
  - Interview Questions
  - jobs
  - news
  - \+ \+

[2022-10-09 14:52] kabir0x23 commented on #117
@saimaheshtaduri there is event going on, just have to do simple contributions like we are doing
just have to register overself over there, something like hacktoberfest
but have to do in team
if you want to join , let me know.

Thanks

[2022-10-09 15:11] saimaheshtaduri commented on #117
Cool. What is it ?

[2022-10-09 15:13] kabir0x23 commented on #117
are you on our discord server?

[2022-10-09 15:13] kabir0x23 commented on #117
![image](https://user-images.githubusercontent.com/44284877/194764657-f54db5ad-9712-4009-9c84-bcfff72f980e.png)

[2022-10-09 15:13] kabir0x23 commented on #117
https://www.hacksquad.dev/

[2022-10-09 16:07] saimaheshtaduri commented on #117
yeah! I am already doing this @kabir0x23  :)

[2022-10-09 16:37] kabir0x23 commented on #117
awsome, are you in a team?
rank number?

[2022-10-09 16:41] saimaheshtaduri commented on #117
1st position as of now :)

[2022-10-09 17:26] kabir0x23 commented on #117
Ahn, cool
30, coz right now I am a solo player.

[2022-10-09 18:07] saimaheshtaduri commented on #117
still its great 👍

[2022-10-09 18:58] kabir0x23 opened #160 "[FEATURE] Create Certifications with unique id with users details (example udemy certs)"
### Detailed description

Example: In udemy or anywhere, we got our certification on the behalf of the details we have submitted before.
so we want to build a page, where we provide users with details and got a certification with unique id with the link
so they also can share those with others

### Context

We used to do CTFs (cyber security competitions) for free for the community with prizes
and

[2022-10-09 19:19] Im-Kunal-13 commented on #160
@kabir0x23 I would like to work on this. Can you assign this to me?

[2022-10-09 19:21] kabir0x23 commented on #160
Awesome,

I am assigning this issue to you.

[2022-10-09 19:32] Im-Kunal-13 commented on #160
@kabir0x23 On it

[2022-10-11 06:50] kabir0x23 opened #164 "[FEATURE] Create a page to showcase our open-source projects"
### Detailed description

Create a page to showcase our open-source projects

open-source projects list:
https://github.com/thecyberworld/Thecyberhub.org

### Context

.

### Possible implementation

_No response_

### Additional information

If you need any help or have any doubts or questions let us know.

Thank you 😄.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-11 06:54] SabujGolui commented on #164
I'll like to work on it

[2022-10-11 06:59] kabir0x23 commented on #164
Nice, I am assigning this issue to you.

[2022-10-11 07:02] x-HeLLb0y-x opened #165 "[OTHER] Changing the ">" to the "." , this will looks good on the screen"
### What would you like to share?

">" to the . , this will looks good on the screen
![image](https://user-images.githubusercontent.com/97400277/195018520-8468cbe1-bef0-4857-ade7-fbb982cd53bd.png)

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-11 07:05] #165 closed

[2022-10-11 13:57] #155 closed

[2022-10-11 13:57] #143 closed

[2022-10-11 14:02] #158 closed

[2022-10-11 18:35] M-Rahul1 commented on #117
Nice re @saimaheshtaduri 😂 . Tho I joined his team with low contribution

[2022-10-12 00:36] abdullmustyy commented on #128
Hi @kabir0x23
I'm back, and I've resolved this bug! 😃

https://user-images.githubusercontent.com/87391935/195222717-3708fc12-d8d9-42fd-8674-e6646f26d95a.mp4

What do you think?

[2022-10-12 04:10] kabir0x23 commented on #128
Nice @abdullmustyy
Looking good

[2022-10-12 06:17] abdullmustyy commented on #128
Good morning @kabir0x23
I have just made a PR, please review it.

[2022-10-12 07:19] #128 closed

[2022-10-12 14:35] kabir0x23 commented on #112
@Alcadeus0 any prgress?
Need any help?

[2022-10-13 13:46] abdullmustyy commented on #164
Hi, @kabir0x23
I have created a page to show open-source projects, but I need to make some clarifications before I proceed to add the content. Please check below for a video illustration and extra details.

[New Recording - 10_13_2022, 2_32_23 PM.webm](https://user-images.githubusercontent.com/87391935/195612385-77da5707-ec13-48e8-bcf5-ebaa021338e1.webm)

**_Questions:_**

- The place I have put t

[2022-10-13 13:50] kabir0x23 commented on #164
Hey @abdullmustyy , this looks good

- yes, looks good over there

- yes, right

[2022-10-13 13:59] SabujGolui commented on #164
I have added a seperate page for the project section so that it's visible in navber and visiters can visit easily

[2022-10-13 14:00] SabujGolui commented on #164
Pls give some of your project name and discription so that I can add these in a card from in this page

[2022-10-13 14:00] kabir0x23 commented on #164
Hello @SabujGolui , wait a sec here

[2022-10-13 14:01] kabir0x23 commented on #164
That's Nice

[2022-10-13 14:02] SabujGolui commented on #164
The issue is assigned to me, right?

[2022-10-13 14:02] kabir0x23 commented on #164
hey @SabujGolui, you can add dummy data in descriptions, we will add those later

[2022-10-13 14:04] kabir0x23 commented on #164
@abdullmustyy , hey
We already assigned this issue to @SabujGolui
We can do one thing

Once @SabujGolui sends the pr, we will merge it, and after that, you can add that page link to the homepage open-source button

[2022-10-13 14:04] kabir0x23 commented on #164
@abdullmustyy and also you can create a new feature req of that open-source button., i will assign it to you.

[2022-10-13 14:15] abdullmustyy commented on #164
Okay, that will be great @kabir0x23

I'm so sorry for not confirming your state with the contribution before jumping on it, @SabujGolui

[2022-10-13 14:48] abdullmustyy opened #174 "[FEATURE] Add button link to Open-Source project page"
### Detailed description

Add a button link to the Community section. Clicking on this button takes you to the Open-Source projects page.

### Context

The Community section summarizes how important it is to make Open-Source contributions. So, I believe that providing a way for users to get to the available Open-Source projects in that section would be great.

### Possible implementation

[New Rec

[2022-10-13 16:41] abdullmustyy commented on #108
I'd love to work on this @kabir0x23
Assign it to me, please.

[2022-10-13 16:42] kabir0x23 commented on #108
@abdullmustyy awesome

Yes i am assigning this issue to you😄🚀

[2022-10-14 07:21] #164 closed

[2022-10-14 07:21] kabir0x23 commented on #174
Hey @abdullmustyy , I have merged that pr, now you can work on that.

Thanks.

[2022-10-14 09:46] x-devNerd-x opened #177 "[BUG] Wrong link in the Button"
### Describe the bug

Both buttons are reflecting the same section
![image](https://user-images.githubusercontent.com/115712204/195817007-51a6afd2-6e50-451d-ac99-12e2c4c84bf0.png)

### To Reproduce

Click on any of these buttons
![image](https://user-images.githubusercontent.com/115712204/195817007-51a6afd2-6e50-451d-ac99-12e2c4c84bf0.png)
They both are navigating to the community section

### Exp

[2022-10-14 09:56] #177 closed

[2022-10-14 11:06] kabir0x23 commented on #135
@ShorunTech working on this?

Hey @ShorunTech ,
any progreess?

If you need any help or have any doubts or questions let us know.

Thank you 😄.

[2022-10-14 11:14] kabir0x23 opened #179 "[FEATURE] Add past Events details on the side"
### Detailed description

Add past events in the side of the events to get to know about prev events.

### Context

![image](https://user-images.githubusercontent.com/44284877/192701178-e6ebd9ad-b2f6-46e9-bb23-799e25fdcec2.png)
### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-14 11:16] ShorunTech commented on #135
concerning  the About section what are the likely features you are looking forward to.
or should i use this template for the about section.

![Screenshot (199)](https://user-images.githubusercontent.com/61280687/195834338-009de1c7-eb4f-448e-84c9-b1882d8d3b06.png)

[2022-10-14 15:08] kabir0x23 opened #180 "[FEATURE] Build a simple static submission page"
### Detailed description

Build a simple static page submission page under Play CTF.

### Context

The value stored in the backend: is 193471289037
If a user submits the value 193471289037, turn the button green. and display congrats.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-14 16:09] kabir0x23 commented on #135
yes, i think there is no need for a same section on the navbar.
we already have this on homepage so..

[2022-10-14 16:09] #135 closed

[2022-10-14 16:19] aishwarya-mali commented on #98
@kabir0x23 Can I work on this?

[2022-10-14 16:21] kabir0x23 commented on #98
sure, i am assigning you this issue

[2022-10-14 16:48] aishwarya-mali commented on #98
@kabir0x23 I can't see news section on Home page. Can you tell me how to find it?

[2022-10-14 17:29] kabir0x23 commented on #98
There is a routing issue in the News section since we changes the navbar design, and we didn't notice that till now.
Will you be able to fix that routing path?
let me know, otherwise will fix it my self.

Thanks

[2022-10-15 05:44] aishwarya-mali commented on #98
I'll see how it goes and let you know.

[2022-10-15 05:47] kabir0x23 commented on #98
Awesome 👍

[2022-10-15 06:24] kabir0x23 opened #183 "[FEATURE] Convert Blogs css files into styled components"
### Detailed description

Convert Blogs css files  into styled components

### Context

Change the  BlogsElements.jsx into BlogsCard.jsx
and convert css file into styled into BlogsElements.jsx

![image](https://user-images.githubusercontent.com/44284877/195972596-efe081c3-f514-4b8b-8944-d5bc7020d824.png)

### Possible implementation

_No response_

### Additional information

_No response_

### Co

[2022-10-15 06:27] amardeep911 commented on #183
plz assignt this to me

[2022-10-15 06:27] kabir0x23 commented on #183
Awesome.

I am assigning this issue to you.

[2022-10-15 06:29] amardeep911 commented on #183
You want to use styled.module.css?

[2022-10-15 06:34] kabir0x23 commented on #183
We are already using CSS styled-components in our project
like this.

![image](https://user-images.githubusercontent.com/44284877/195972953-960e5d07-512e-4901-856e-85eedcdce951.png)

We want to convert
this blogs.css file into
![image](https://user-images.githubusercontent.com/44284877/195972982-be5244ed-b1c1-4f3a-9e23-547a2db1d571.png)

styled structure.

got it?

If you will have any doubts, let

[2022-10-15 06:58] amardeep911 commented on #183
Yeah Got it thanks

[2022-10-15 06:58] amardeep911 commented on #183
Also how to run the code npm start is not worrking

[2022-10-15 07:52] tanyaa-arora commented on #180
Hi @kabir0x23, I'd like to work on the issue. Kindly assign it to me

[2022-10-15 07:56] kabir0x23 commented on #180
Sure, I am assigning this issue to you.

[2022-10-15 08:52] aishwarya-mali commented on #98
@kabir0x23 I have fixed the routing issue for News which is under Learn Dropdown. Can you confirm where to implement infinite scroll as I can't see news on home page? or am I missing something.

[2022-10-15 09:06] kabir0x23 commented on #98
is NEWS visible under learn > news section?
after you open that NEWS section?

if not
create an issue on fixing news routing and send the PR.

and then I can give a look at this issue.

[2022-10-15 09:22] aishwarya-mali commented on #98
Yes it is visible then.
![image](https://user-images.githubusercontent.com/43086476/195979146-07eb741f-ba8e-4eb7-b16f-890c6efaac02.png)

[2022-10-15 09:23] kabir0x23 commented on #98
yes, have to implement it here.

[2022-10-15 09:25] aishwarya-mali commented on #98
@kabir0x23 Do I raise a PR for that fix or is it okay to do it with this issue?

[2022-10-15 09:25] kabir0x23 commented on #98
this same feature we  have impemented here before
https://github.com/CryptoverseWeb3/cryptoverseWeb3.com

if you got stuck anywhere, you can checkout this code.

Thank you.

[2022-10-15 09:26] kabir0x23 commented on #98
Yes you can raise a one pr for both fixes

[2022-10-15 13:09] kabir0x23 opened #185 "[BUG] Non-responsive Events page"
### Describe the bug

1. widescreen issues
 ![image](https://user-images.githubusercontent.com/44284877/195988003-9ddc9ee4-bddc-4198-948e-a9e049cec8b1.png)

2. Past events section should be aligned right to Today's Events

### To Reproduce

website: https://www.thecyberhub.org/events

localhost: http://localhost:3000/events

### Expected Behavior

_No response_

### Screenshot/ Video

_No response

[2022-10-15 13:13] kabir0x23 opened #186 "[BUG] Logic issue in Events"
### Describe the bug

Logic issues in order

![image](https://user-images.githubusercontent.com/44284877/195988178-2ae8b0b6-2f8a-4c8d-91fc-596c287787e4.png)

1. Top section is today's events: date 15. ✔
2. upcoming is also containing past events dates of data ❌
3. past events: is containing only single events, should be more past events ❌

### To Reproduce

localhost: http://localhost:3000/events

[2022-10-15 13:14] #179 closed

[2022-10-15 13:23] kabir0x23 opened #187 "[FEATURE] OSINT(Cybersec) Game"
### Detailed description

OSINT(Cybersec) Game

### Context

implement a OSINT game in the website under play section

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-15 13:43] kabir0x23 commented on #111
Hey @saimaheshtaduri ,
any progress?

If you need any help or have any doubts or questions let us know.

Thank you 😄.

[2022-10-15 13:44] kabir0x23 commented on #117
Hey @saimaheshtaduri ,
any progress?

If you need any help or have any doubts or questions let us know.

Thank you 😄.

[2022-10-15 13:44] kabir0x23 commented on #129
Hey @RahulSharma4329 ,
any progress?

If you need any help or have any doubts or questions let us know.

Thank you 😄.

[2022-10-15 13:46] #174 closed

[2022-10-15 13:49] kabir0x23 opened #189 "[FEATURE] Design Improvement of Quiz Section"
### Detailed description

Design Improvement of Quiz Section

### Context

![image](https://user-images.githubusercontent.com/44284877/195989969-ff20065f-52dc-4b2a-9b3c-dbbcda6aa317.png)

### Possible implementation

_No response_

### Additional information

If you need any help or have any doubts or questions let us know.

Thank you 😄.

### Code of Conduct

- [X] I agree to follow this project's

[2022-10-15 18:47] x-devNerd-x opened #190 "[BUG] Today's Events logic bug"
### Describe the bug

If there are no today's events
Today's events are still there
![image](https://user-images.githubusercontent.com/44284877/196005865-72f40e71-58d2-45d2-9518-77312ad53272.png)

![image](https://user-images.githubusercontent.com/115712204/196003122-3f75d925-1d05-4e97-9bdf-1a4822ab50b3.png)

### To Reproduce

https://www.thecyberhub.org/events

### Expected Behavior

_No response

[2022-10-15 20:03] Ruchita-01 commented on #190
Issue Resolved
Kindly check below PR
https://github.com/thecyberworld/thecyberhub.org/pull/191

[2022-10-15 20:04] Ruchita-01 commented on #186
Issue Resolved
Kindly Check Below PR
https://github.com/thecyberworld/thecyberhub.org/pull/191

[2022-10-15 20:19] kabir0x23 commented on #190
(#186 is got resolved with #191 )

@Ruchita-01

The issue is not getting resolved with this PR #191.
because today's events are outside of the map/loop functions
so where there are no events today, so we want to display that heading too

[2022-10-15 20:20] kabir0x23 commented on #190
If you want to work om this issue, let us know, and we will assign this issue to you,

Thank you.

[2022-10-15 20:22] kabir0x23 commented on #180
this issue is very simple, like login page nothing else.

If you still want to do, or having any doubts, let us now

[2022-10-15 20:24] kabir0x23 commented on #111
If you still want to do this issue, let us know, and we will assign this issue to you.

[2022-10-15 20:25] kabir0x23 commented on #117
If you still want to do this issue, let us know, and we will assign this issue to you.

[2022-10-15 20:25] kabir0x23 commented on #129
If you still want to do this issue, let us know, and we will assign this issue to you.

[2022-10-15 20:29] tanyaa-arora commented on #180
@kabir0x23 okay, I'll try it again. Actually, I was having issue with it's css. My page was overlapping with the header and navbar component.

[2022-10-15 20:33] kabir0x23 commented on #180
Awesome.
the solution to the CSS:
- just give a 200px margin-top to the main container, then it will be fine.

If you will have any doubts or questions let us know.
Thank you.

[2022-10-16 04:31] abdullmustyy commented on #108
Hi, @kabir0x23
Here is what I have implemented ⬇️

[New Recording - 10_16_2022, 5_16_23 AM.webm](https://user-images.githubusercontent.com/87391935/196017868-f456e3a6-b9a3-4f9f-b151-d19ac2d404fa.webm)

But I'm still worried about that commits issue. The commits are still showing.
I have tried what you asked. Maybe I'm not doing something right. 😓

[2022-10-16 05:12] kabir0x23 commented on #108
Awesome 🤩

This is looking amazing

[2022-10-16 05:23] kabir0x23 commented on #108
@abdullmustyy once it got completed, send the Pull request, we will see what happens and what to do then

[2022-10-16 05:48] #186 closed

[2022-10-16 08:11] nirajpdn commented on #185
I want to work on this. Assign it to me.

[2022-10-16 08:15] kabir0x23 commented on #185
Awesome, I am assigning this issue to you.

[2022-10-16 08:18] ihtishamKhan commented on #190
I want to work on this issue, Please assign this issue to me

[2022-10-16 08:26] kabir0x23 commented on #190
Awesome, I am assigning this issue to you.

[2022-10-16 08:55] code-knayam commented on #190
Issue resolved. Please check https://github.com/thecyberworld/thecyberhub.org/pull/193

[2022-10-16 09:05] ihtishamKhan commented on #190
The issue was assigned to me, I was working on that. How come? @kabir0x23 @code-knayam

[2022-10-16 09:37] kabir0x23 commented on #190
yes send you PR, I haven't merged that PR till now

[2022-10-16 09:38] ihtishamKhan commented on #190
Thank you @kabir0x23

[2022-10-16 09:58] sameer1612 commented on #160
@kabir0x23
I can take this one. Worked on building a European certification system a few years back.

[2022-10-16 10:19] code-knayam commented on #190
Usually the first PR resolving the issue is referenced. 😁

[2022-10-16 10:20] ihtishamKhan opened #195 "Upcomming events title"
### Describe the bug

Upcoming events title should not be rendered when there is no upcoming events

I have done with the logic, I can create a pull request after the first one is approved I think. Pull Request: #194
Please assign this issue to me as well

### To Reproduce

To reproduce this bug

1.  Remove data for upcoming events from ```components/Events/EventsData/EventsData.jsx``` if there is

[2022-10-16 10:26] ihtishamKhan commented on #190
Correct but I think it's in case of the issue was not assigned to either one
I am worried that the first developer works on an issue let's say for 2 days, and the other one also starts working on the same issue without informing the first one. The result will be a waste of 2 days. Thoughts from your side are welcome if I am wrong

[2022-10-16 11:15] tanyaa-arora commented on #180
I wanted to know if the user will be redirected to submit page when he clicks on play CTF. That's what our plan is, right?

[2022-10-16 11:37] kabir0x23 commented on #180
yes, right 👍

[2022-10-16 12:13] tanyaa-arora commented on #180
I'm not able to route to the submit page, If you could guide me with that

[2022-10-16 12:16] pratyushkr11 commented on #180
Hello @kabir0x23 can u please assign me this issue. I would like to work on this

[2022-10-16 12:25] kabir0x23 commented on #180
you can directly work on this page: https://www.thecyberhub.org/CTF
or

routing, you have to add routing in the app. jsx like this:

![image](https://user-images.githubusercontent.com/44284877/196035292-a8e0b6cc-cec3-4ba5-bab7-5d3395b7ec64.png)

[2022-10-16 12:28] tanyaa-arora commented on #180
Okay👍

[2022-10-16 13:50] DhavalDobariya333 commented on #189
Hi @kabir0x23,  can you let me know where is quiz section on the website is?

[2022-10-16 14:02] kabir0x23 commented on #189
hi @DhavalDobariya333

you can find quiz under: learn > prep > quiz

[2022-10-16 14:24] DhavalDobariya333 commented on #189
Hi @kabir0x23, can I do this issue?

[2022-10-16 14:31] kabir0x23 commented on #189
sure

[2022-10-16 16:36] #108 closed

[2022-10-16 17:01] #190 closed

[2022-10-16 17:21] kabir0x23 commented on #195
I think that issue also got resoled, try now

[2022-10-16 17:46] abdullmustyy commented on #180
@kabir0x23
👁️👁️

[2022-10-16 17:46] nirajpdn opened #199 "[BUG] Footer is floating on zoom out, improve layout so footer will always be at bottom"
### Describe the bug

The layout will be better if the footer sticks always at the bottom even if there is no content in the page.

### To Reproduce

Website: https://www.thecyberhub.org/blogs
Local: http://localhost:3000/blogs

### Expected Behavior

Footer sticks at the bottom.

### Screenshot/ Video

<img width="917" alt="Screen Shot 2022-10-16 at 23 22 01" src="https://user-images.githubuserco

[2022-10-16 18:00] kabir0x23 commented on #199
hey @nirajpdn
Thanks for submitting this issue

[2022-10-16 18:01] kabir0x23 commented on #199
If you are interested in this issue, let us know, will assign this issue to you.

[2022-10-16 18:01] #98 closed

[2022-10-16 18:02] nirajpdn commented on #199
@kabir0x23 Sure. I will work on it after completing #185

[2022-10-16 18:03] kabir0x23 commented on #199
Okay nice

[2022-10-16 18:12] kabir0x23 opened #200 "[BUG] non-responsive Job section"
### Describe the bug

Jobs page is non-responsive on wide screens

![image](https://user-images.githubusercontent.com/44284877/196051209-22889be5-0705-40b8-aa33-a1f84f5893b4.png)

![image](https://user-images.githubusercontent.com/44284877/196051201-c8727747-2060-4bb1-8a20-f75edddad06c.png)

### To Reproduce

https://www.thecyberhub.org/prep/jobs

### Expected Behavior
Jobs card should look like t

[2022-10-16 18:16] javamultiplex commented on #200
Hi, I would like to work on this. Can you please assign to me?

[2022-10-16 18:24] kabir0x23 commented on #200
Awesome, I am assigning this issue to you.

[2022-10-16 18:41] javamultiplex commented on #200
Thanks,  Can you please screen size for which this issue is coming?

[2022-10-16 18:51] abdullmustyy commented on #180
Hi @kabir0x23
Is someone working on this already?

[2022-10-16 19:01] kabir0x23 commented on #180
my bad 😅
your one is here https://github.com/thecyberworld/thecyberhub.org/issues/111

[2022-10-16 19:07] abdullmustyy commented on #111
👋🏻👋🏻👋🏻
So, where will this logo be located?
@kabir0x23

[2022-10-16 19:08] kabir0x23 commented on #111
right bottom corner 👾.
and do you have any suggestions?

[2022-10-16 19:12] kabir0x23 commented on #200
You can check it by zooming out on the screen.
and + we want to keep those jobs cards on center, when we do zooming out the screen, you can check out the blogs section as a preference.

[2022-10-16 19:23] abdullmustyy commented on #111
I mean where on the website, will it be on every page?

Suggestion:
- We have to identify the purpose of the chatbot.
- Where on the website are users likely to wonder how to go about things?

[2022-10-16 19:28] kabir0x23 commented on #111
Purpose something link FAQ

like when user click on the chat bot
they will get questions, when they click on specific one, they will get the specific ans.

What do you think,
- should add a faq page or a bot.

[2022-10-16 19:43] abdullmustyy commented on #111
Having both will be great!
There will be a separate page for FAQ.
We just need to find a place on the website where the chatbot will be most effective.

[2022-10-16 19:50] kabir0x23 commented on #111
Nice
I have seen Chatbots are mostly on the right bottom of the screen.

[2022-10-16 19:52] kabir0x23 commented on #111
Example:

![image](https://user-images.githubusercontent.com/44284877/196055225-ded70361-7c98-4959-91fe-cd6e675699d5.png)

[2022-10-17 04:43] #180 closed

[2022-10-17 07:21] jaswindersingh2601 commented on #199
@kabir0x23 please assign this issue to me.

[2022-10-17 07:32] jaswindersingh2601 commented on #199
assign this issue to me, I am interested to work on this.

[2022-10-17 07:33] kabir0x23 commented on #199
Awesome, I have assigned this issue to you

[2022-10-17 07:46] jaswindersingh2601 commented on #129
Assign this issue to me

[2022-10-17 07:48] jaswindersingh2601 commented on #112
Assign this issue to me

[2022-10-17 07:50] iyinolu commented on #112
I can complete the entire page, since I started already. @kabir0x23. I have feee time now

[2022-10-17 07:53] kabir0x23 commented on #112
Awesome
Will asigin this issue to you.

[2022-10-18 00:52] kabir0x23 commented on #112
two navbar components?
do you mean, nav and side bar?

[2022-10-18 00:55] kabir0x23 commented on #112
or do you mean by inside navabr of reg form?

[2022-10-18 05:14] #195 closed

[2022-10-18 14:19] kabir0x23 opened #219 "[FEATURE] Add image behind the container"
### Detailed description

We have to add a image behind the container:

![image](https://user-images.githubusercontent.com/44284877/196449355-ae056506-fa15-4810-a4cd-ed8d0bbaa3a2.png)

### Context

You can see, above are four cards, you can usse
![image](https://user-images.githubusercontent.com/44284877/196456531-346ac13a-4842-401c-a00a-14f1be782734.png)

### Possible implementation

_No response

[2022-10-18 14:21] Anuran12 commented on #219
@kabir0x23  Hii I would like to work on this. Please assign this to me

[2022-10-18 14:25] kabir0x23 commented on #219
Awesome, I am assigning this issue to you.

[2022-10-18 14:33] Anuran12 commented on #219
@kabir0x23  Do I have to add that image for all project card or only one image behind project cards ?

[2022-10-18 14:46] kabir0x23 commented on #160
Hey @sameer1612
will that feature will be working on a static website? or need to connect data base for proper working?
(we know data base i important, and we are working on that, will gonna add it soon.)

[2022-10-18 15:31] sameer1612 commented on #160
Hey @kabir0x23
You don't need a full scale database. A simple cloud function with a firebase db should be enough. It will have only 2 responsibilities, to validate a certificate id and create one(not public). It's hardly an hour's work in setup.

[2022-10-18 15:33] hitaarthh opened #220 "[Contact Section] Add a contact section in the navbar"
### Detailed description

This will contain the different social accounts,and the contact section in the navbar will redirect or scroll down to those container making it accessible for the user to view the organization in LinkedIn, Twitter, Gitlab, GitHub etc.

### Context

This feature will benefit the organization to grow more and redirect the user to the other social media platforms other than

[2022-10-18 16:02] sameer1612 commented on #160
@kabir0x23 you can schedule a google calendar meet at cyber726337@gmail.com between 6-8pm tomorrow if you want me to implement this. Thanks!

[2022-10-18 16:11] kabir0x23 commented on #160
Awesome, we can do it at 7 pm
and I am just trying this thing, and I have scheduled the meet

Thanks

[2022-10-18 16:37] kabir0x23 commented on #220
Hey @hitaarthh

Do you mean, like this?
![image](https://user-images.githubusercontent.com/44284877/196490735-cc8fad8b-7bb5-4ea6-8394-63885d111d9c.png)

[2022-10-18 16:44] hitaarthh commented on #220
@kabir0x23 i meant a contact section in the navbar, which will redirect to the bottom of the page, where you can add a section, like "Get In touch" and there we can give links and section and a box where we can send a message and receive it using php.

[2022-10-18 16:47] kabir0x23 commented on #220
Understood (and that section is having in the todo list but)
React with PHP?
how?

[2022-10-18 16:51] iyinolu commented on #112
there are two components named `NavBar`. The one currently in use does not have the `register` button that takes the user to the register page.

[2022-10-18 17:07] iyinolu commented on #112
<img width="305" alt="Screenshot 2022-10-18 at 5 59 46 PM" src="https://user-images.githubusercontent.com/47259302/196497537-b6118847-4029-4a00-8fa4-519127eab56e.png">

Those files both have Navbar components exported

[2022-10-18 17:12] kabir0x23 commented on #112
okay, homepage navbar componets are old one, when we were having diff navbars for different categoires

[2022-10-18 17:13] kabir0x23 commented on #112
now the main navbar is only the separate navbar
![image](https://user-images.githubusercontent.com/44284877/196499540-2ac37561-d5f3-4798-8d5a-b2a0ab28893b.png)

[2022-10-18 17:25] kabir0x23 commented on #112
your forked repo is too old , fetch and merge it .
![image](https://user-images.githubusercontent.com/44284877/196501599-92b4dffc-ac74-492f-9c50-bb81f82b0894.png)

on our side:
![image](https://user-images.githubusercontent.com/44284877/196501759-33c02ef9-43f1-488e-b6ba-4094f3dcb305.png)

[2022-10-18 21:43] iyinolu commented on #112
okay, noted

[2022-10-19 04:35] kabir0x23 opened #221 "[FEATURE] Add routing to the course page and add a sidebox to navigate yo get particular courses."
### Detailed description

Add routing to the course page and add a sidebox to navigate to get particular courses.

### Context

add a sidebox that contains a heading and when the user clicks on the particular heading , should get a particular courses

Example: clicks on Linux: now they should only get these two courses:
![image](https://user-images.githubusercontent.com/44284877/196598362-512c6aa0

[2022-10-19 04:39] kabir0x23 opened #222 "[BUG] Improper alignment of events."
### Describe the bug

Improper alignment of events.

### To Reproduce

link: https://www.thecyberhub.org/events

### Expected Behavior

Alignment should be equal

- You can create a separate component for the heading (using styled-components only)
and give a fix margins

- and can set the margin-top upcomming and pastevents components
- also make sure to correct ongoing events (will be there on pa

[2022-10-19 05:33] #117 closed

[2022-10-19 05:47] kabir0x23 opened #223 "[FEATURE] New navbar design, big navbar"
### Detailed description

We have to create a big navbar onhover

![image](https://user-images.githubusercontent.com/44284877/196605208-4f66e55a-d266-4c53-8dd1-02ab588c7848.png)

### Context

_no_response_

### Possible implementation

_No response_

### Additional information

If you need any help or have any doubts or questions let us know.

Thank you 😄.

### Code of Conduct

- [X] I agree to fo

[2022-10-19 06:01] Bzsmrf commented on #223
Sir , can i have the opportunity to do this task

[2022-10-19 06:02] kabir0x23 commented on #223
Awesome
Sure, I am assigning this issue to you.

[2022-10-19 07:01] Bzsmrf commented on #223
![requirement](https://user-images.githubusercontent.com/92678867/196618098-3cf5ad4d-9b5c-46af-9415-ef4e9cc8875b.jpeg)
Sir is this what u imagined ?
1)Do I need to implement it in all the elements in the navbar?
2) I know that this solution is not aesthetic to the eye i will fix that , do u want me to add some brief about each element when the navbar extends like in the example image

[2022-10-19 07:04] kabir0x23 commented on #223
yes this kind of looks
1. no we just need to add only on learn right now
2. yes you can write something.
3. and last thing. bg: dark, color: white

Thank you

[2022-10-19 07:30] Aksa12 commented on #222
Hey @kabir0x23, I would like to work on this issue

[2022-10-19 07:32] kabir0x23 commented on #222
Awesome, I am assigning this issue to you.

[2022-10-19 07:36] Bzsmrf commented on #223
![1](https://user-images.githubusercontent.com/92678867/196626529-7e3218f9-69be-4287-8571-c67f2257a2e3.jpeg)
![2](https://user-images.githubusercontent.com/92678867/196626551-0d9cb140-c7ed-433e-867d-54f176cbb88d.jpeg)

![3](https://user-images.githubusercontent.com/92678867/196626585-e8b71766-736f-4fb1-8860-e681a89c2fef.jpeg)

[2022-10-19 07:40] kabir0x23 commented on #223
Suggestions:
- You can comment on the prep nav-itme for now
- nice, you can add more spaces:
![image](https://user-images.githubusercontent.com/44284877/196627278-58894506-67e7-46e4-89b0-0bc056a8fcfd.png)

our end goal is to look like this.

Thank you.

[2022-10-19 08:05] Bzsmrf commented on #223
![image](https://user-images.githubusercontent.com/92678867/196632970-f6e4fb06-22ae-467b-8eb6-7a24d155b352.png)

[2022-10-19 09:20] kabir0x23 commented on #222
Great, we will review your PR and merge very soon. until then/If you are looking to contribute more to the open-source, then you can give a look at other open issues or can create issues.

Thank you 😄.

[2022-10-19 09:22] kabir0x23 commented on #221
Yes, exactly

[2022-10-19 09:25] kabir0x23 commented on #221
Great, I am assigning this issue to you.

[2022-10-19 10:02] #222 closed

[2022-10-19 14:21] kabir0x23 opened #226 "[FEATURE] Add prettier and reformat the code."
### Detailed description

.

### Context

.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-19 15:49] Aksa12 commented on #221
Hey @kabir0x23, quick questions:

- What should be title of the sidebar containing all the courses? Is `All Courses` fine? or should it be something else?
- In the mobile view, the sidebox should be at top, right? (attached video) pls let me know if it needs any changes.

https://user-images.githubusercontent.com/41188167/196739897-8f2ace7f-1598-4097-9ee1-8bda53fe6a2a.mov

[2022-10-19 16:40] kabir0x23 commented on #221
Awesome,

Yes, All Courses is fine.

Like something dropdown on small devies.

You also can create new issue on this dropdown and work on that one

[2022-10-19 20:11] #223 closed

[2022-10-19 20:21] Aksa12 commented on #221
@kabir0x23 cool. Can you pls share an example for the dropdown design? I was thinking something like this (video attached, will add animation later for smooth transition). Is it okay or I can change it accordingly if you can provide an example. Thanks.

https://user-images.githubusercontent.com/41188167/196795522-7a3e868e-aba8-4374-a1fa-241bb00c3655.mov

[2022-10-19 20:34] kabir0x23 opened #230 "[BUG] After click on the navitem, navbar dropdown is still open"
### Describe the bug

https://user-images.githubusercontent.com/44284877/196797698-08dfcdae-db4d-4860-a258-7b585cb32fd5.png

### To Reproduce

-> https://thecyberhub.org/

### Expected Behavior

if user click on the any nav-item, then that dropdown should close automatically

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/44284877/196798244-0dd6f6b9-eb97-4edf-b82a-bc48ab

[2022-10-19 20:37] kabir0x23 commented on #221
Looking good.

How about this design:
![image](https://user-images.githubusercontent.com/44284877/196798929-c5158e1a-16cb-4cab-84b9-78598b7b7b63.png)

[2022-10-19 20:52] satyamrs00 commented on #230
hey i want to work on this issue
can you assign this to me ?

[2022-10-19 21:07] JatinSingh08 commented on #230
Hey @kabir0x23 , Can you please assign this to me. I would love to contribute on this issue.

[2022-10-20 05:37] sameer1612 opened #231 "[OTHER] Reorganize media assets."
### What would you like to share?

- [ ] Compress and re-upload images/videos to cloud storage.
- [ ] Update links in the codebase.
- [ ] Remove media from assets.

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-20 05:41] sameer1612 commented on #231
@kabir0x23 you can optimize media files using
https://compresspng.com
https://www.veed.io/tools/video-compressor

[2022-10-20 09:18] Aksa12 commented on #221
Hey @kabir0x23, please have a look at it now.

https://user-images.githubusercontent.com/41188167/196908837-82c428de-b894-4e45-9e19-1d325d312a37.mov

[2022-10-20 09:31] bakemonostan opened #232 "[BUG] button hover causes other elements to move"
### Describe the bug

other elements move when buttons are hovered

### To Reproduce

hover over buttons

### Expected Behavior

Hover states can be applied without affecting other elements

### Screenshot/ Video

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-20 12:02] Anuran12 commented on #219
@kabir0x23  ??

[2022-10-20 14:01] #232 closed

[2022-10-20 14:02] kabir0x23 commented on #231
Thanks for the links and issue: i am on it 💪🏽

[2022-10-20 14:07] kabir0x23 commented on #221
Hey @Aksa12 ,

This is looking awesome.

[2022-10-20 14:16] kabir0x23 commented on #230
Now we got two contributors, who want to work on this issue

[2022-10-20 14:18] JatinSingh08 commented on #230
@kabir0x23 , Please assign this to me.

[2022-10-20 14:19] JatinSingh08 commented on #230
Thanks kabir.

[2022-10-20 14:19] #220 closed

[2022-10-20 14:46] kabir0x23 commented on #111
Hi @abdullmustyy
Prep section got removed for now.
You can navigate manually by searching it on the search bar
Will add those categories in learn or somewhere else

thanks

[2022-10-20 15:42] abdullmustyy commented on #111
Hi @kabir0x23

https://user-images.githubusercontent.com/87391935/196994851-f792b3d3-6aff-4932-9db8-c5dc7225c148.mp4

What do you think?

[2022-10-20 15:52] abdullmustyy commented on #111
I'm glad you do. 😊
I'll make a PR now.

[2022-10-20 18:06] Aksa12 commented on #221
@kabir0x23 done in the linked PR. Please review.

[2022-10-20 18:25] kabir0x23 commented on #221
Great, we will review your PR and merge very soon. until then/If you are looking to contribute more to the open source, then you can give a look at other open issues or can create issues.

Thank you 😄.

[2022-10-21 00:16] iyinolu commented on #112
<img width="1432" alt="Screenshot 2022-10-21 at 1 15 55 AM" src="https://user-images.githubusercontent.com/47259302/197082707-c386ba21-5dda-4150-b69e-ef8709359a3f.png">
@kabir0x23 Here is what we have now.

[2022-10-21 03:35] kabir0x23 commented on #112
Hey @iyinolu, this is looking awesome ⚡

[2022-10-21 04:23] #111 closed

[2022-10-21 04:33] jaswindersingh2601 commented on #200
I would like to work on this issue, could you assign this to me

[2022-10-21 05:59] kabir0x23 commented on #231
Hey @sameer1612
Have a Bad NEWS

quoto exceded
![image](https://user-images.githubusercontent.com/44284877/197123340-566ec592-2332-4b96-88dc-a539afddffc5.png)

[2022-10-21 06:02] kabir0x23 commented on #231
exmaple github:

if i share an image or video here, it will be uploaded in the github server
then we can use these links in our website

example:
https://user-images.githubusercontent.com/44284877/197123340-566ec592-2332-4b96-88dc-a539afddffc5.png

[2022-10-21 06:09] sameer1612 commented on #231
I wonder if you actually got **1.7K** hits in 2 days. Anyhow quota is set to 1gb per day, it will be reset tonight. High bandwidth is also due to the large uncompressed files you have right now. once compressed this usage will reduce drastically.

Putting files on GitHub may not be a good idea, if the request rate is high then fair chance that they'll blacklist your domain. Will suggest compressin

[2022-10-21 06:15] kabir0x23 commented on #231
Yeah, that's the community website and we are providing everything for free, that;s the one of the main reason:
![image](https://user-images.githubusercontent.com/44284877/197125179-e48b5a5b-8b59-43f3-80cd-73269a79c3a9.png)

Yes this would be, didn't cam in my mind, thanks

This is the better option and will try my best to build a full stack soon and transfer it to aws/azure

[2022-10-21 06:27] sameer1612 commented on #231
@kabir0x23 lets compress them the best and then we'll look into where to keep. Keep them in repo itself, no issues. Smaller files will give better UX.

_One out of context update: I have setup next and apis. We can connect this weekend and wrap that work. _

[2022-10-21 06:33] kabir0x23 commented on #231
okay ✔ Compressing right now.

Awesome 😄 and thanks for your efforts.

[2022-10-21 08:53] #221 closed

[2022-10-21 10:51] Dojeto commented on #230
@kabir0x23 hey can you give me the opportunity to solve this issue?

[2022-10-21 11:21] #200 closed

[2022-10-21 11:43] jaswindersingh2601 opened #246 "[OTHER] Remove Unused Dropdown button from the jobs event"
### What would you like to share?

I suggest that the dropdown button on the jobs page is unnecessary. it does not do any work.

## Screenshot/video
![image](https://user-images.githubusercontent.com/101857182/197188197-65dcfc15-8093-4878-a5cf-cabfb01d7eab.png)

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-21 11:44] jaswindersingh2601 commented on #246
I can fix this and the PR is ready to assign this to me.

[2022-10-21 11:45] kabir0x23 commented on #230
Hey @JatinSingh08 , are you working on this issue?

[2022-10-21 11:48] kabir0x23 commented on #246
Great, I am assigning this issue to you.

[2022-10-21 11:52] Dojeto commented on #230
@kabir0x23 I solved this issue my codes are ready can I make a pull request?

[2022-10-21 11:58] kabir0x23 commented on #230
Hey @Dojeto
This is not how GitHub and collaboration works.

I have already assigned this issue to the @JatinSingh08

If I submit your code (without even assigning and knowing that you were working on this issue)

then what about his code and efforts?

[2022-10-21 12:00] kabir0x23 commented on #230
Let me ask him first that he is working on this issue or not, if not, i will assign it to you

[2022-10-21 12:08] kabir0x23 opened #247 "[BUG] Navbar width overflowing"
### Describe the bug
Navbar width overflowing

![image](https://user-images.githubusercontent.com/44284877/197192574-8fb76ca9-33fc-4cd3-8123-2ce2cd874e5f.png)

### To Reproduce

1. visit: https://www.thecyberhub.org/
1. zoom the scene
2. hover on the learn

### Expected Behavior

This should not be overflowing

### Screenshot/ Video

![image](https://user-images.githubusercontent.com/44284877/1971

[2022-10-21 12:11] jaswindersingh2601 commented on #247
Assign this issue to me i am interested to work on it .

[2022-10-21 12:11] jaswindersingh2601 commented on #247
Assign this issue to me I am interested to work on it .

[2022-10-21 12:13] Dojeto commented on #230
I am sorry I am a beginner in Github Open source. I don't know that,
still, I am learning things :)
No problem ask him

[2022-10-21 12:30] kabir0x23 commented on #230
No need to sorry

Are you there? @Dojeto

[2022-10-21 12:31] kabir0x23 commented on #230
Hey @JatinSingh08 it's been a 1 day. This issue is critical and we have to merge it very soon, (we are getting issues reports that the navbar is not working properly so we are going to merger @Dojeto 's pr)

[2022-10-21 12:32] kabir0x23 commented on #230
@Dojeto you can send you pr now

[2022-10-21 12:38] #185 closed

[2022-10-21 14:45] #246 closed

[2022-10-21 16:56] #247 closed

[2022-10-22 00:52] nirajpdn commented on #199
Is this issue resolved ?

[2022-10-22 02:40] kabir0x23 commented on #199
Nope, this issue is still available.

[2022-10-22 03:31] nirajpdn commented on #199
Assign it to me.

[2022-10-22 03:34] kabir0x23 commented on #199
Done

[2022-10-22 04:07] kabir0x23 commented on #219
for now, you can add single image behinde all 4 cards

[2022-10-22 04:07] kabir0x23 commented on #219
Hey @Anuran12 ,
Are you working on this issue?

[2022-10-22 04:39] Anuran12 commented on #219
Okay..

[2022-10-22 04:40] Anuran12 commented on #219
Yea

[2022-10-22 06:56] Anuran12 commented on #219
https://user-images.githubusercontent.com/104062485/197325148-06ad96aa-8378-48d9-88d6-056f8174ee4a.mp4

Is it okay ? @kabir0x23

[2022-10-22 07:19] kabir0x23 commented on #219
nope. you have to add that on the card as a background of the card, not in the container

4 cards will have the same background, we will change the rest cards image

[2022-10-22 08:05] Anuran12 commented on #219
Ohh now i understand 🤦...

[2022-10-22 08:15] Anuran12 commented on #219
@kabir0x23  is it okay now ?

![image](https://user-images.githubusercontent.com/104062485/197328599-33342392-b9c8-4786-9562-872e3f7a3f4a.png)

[2022-10-22 08:17] kabir0x23 commented on #219
Awesome

You can use this overlay:
so background can be darker
[code]

thank you

[2022-10-22 10:20] Anuran12 commented on #219
@kabir0x23 Sorry i am unable to use the overlay. I guess because i added the background image in css. see

![image](https://user-images.githubusercontent.com/104062485/197334027-725a0702-3e52-4926-b498-d89217bc52f7.png)

[2022-10-22 10:35] kabir0x23 commented on #219
Okay,
You can raise the PR, we will mange that from our end

Thanks

[2022-10-22 11:24] Anuran12 commented on #219
@kabir0x23  Done

[2022-10-23 04:08] jaswindersingh2601 opened #258 "[OTHER] Navbar items collide at small screen"
### What would you like to share?

When the display size is reduced to 900px and below the navbar items collide with each other making UI look bad.

![image](https://user-images.githubusercontent.com/101857182/197373254-d83e5e7b-1125-432e-8470-1fd60bbc59e7.png)

![image](https://user-images.githubusercontent.com/101857182/197373284-a5effa87-7f70-41ce-870b-61ad67f5be5a.png)

### Additional informat

[2022-10-23 04:09] jaswindersingh2601 commented on #258
Assign this issue to me, I have already fixed this.

[2022-10-23 08:59] kabir0x23 commented on #226
![Certificate image](https://user-images.githubusercontent.com/44284877/197383544-58efd5fb-b93c-4329-8021-e8ac7b16a21c.png)

[2022-10-23 11:11] grow-xd opened #261 "[DOCS] <description> Adding more info in Readme"
### Description

We can add more info the readme page as it does not show any general information about Thecyberhub and its use
I will also redesign the Readme and to make it more good looking by adding table of contents and using badges where required or making new sections like contact me.

### Screenshots

_No response_

### Additional information

I would like to work on this issue

### Code o

[2022-10-23 11:17] kabir0x23 commented on #261
Sure, nice idea
and make sure to not make it too long

i am assigning this issue.

[2022-10-23 14:00] grow-xd commented on #261
I am done with the changes please check https://github.com/grow-xd/thecyberhub.org if its looking good
I will send the pr

[2022-10-23 14:40] kabir0x23 commented on #261
nice, Send the pr i will send suggestions later on the PR

[2022-10-23 14:44] grow-xd commented on #261
sent

[2022-10-23 19:11] #112 closed

[2022-10-23 19:14] #261 closed

[2022-10-23 19:20] #258 closed

[2022-10-23 19:23] #199 closed

[2022-10-25 06:51] #219 closed

[2022-10-25 06:52] kabir0x23 commented on #129
It's been 8 days,
I will work on this issue

[2022-10-25 12:41] jahtomini commented on #189
Hey @kabir0x23!  I'll like to work on this issue

[2022-10-25 12:57] kabir0x23 commented on #189
Hey @jahtomini
Yes, we have to improve the design (layout design)

one of the example
buttons width and the quiz section width are miss match, so this is looking wierd
![image](https://user-images.githubusercontent.com/44284877/197778797-aa38ec10-de48-4620-9853-ab4f4ab01ac4.png)

[2022-10-25 17:13] kabir0x23 commented on #189
Nice, better

[2022-10-26 15:57] #226 closed

[2022-10-26 19:59] #189 closed

[2022-10-26 20:56] jahtomini opened #272 "[FEATURE] Refactor Quiz Categories components into a single component"
### Detailed description

In the spirit of DRY, I propose refactoring the logic of the components contained in `src/components/Resources/Quiz/` into a single reusable component modifiable by props because they share a lot of similar logic & markup.

### Context

This would be beneficial for future devs working on these components or anything tied to them as it would allow them to make changes in o

[2022-10-27 04:58] kabir0x23 commented on #272
Awesome

Thanks for raising an issue

[2022-10-27 07:27] sameer1612 commented on #183
@kabir0x23 migrated the blog and certificate to styled-components. Please review when available.

[2022-10-27 12:52] #183 closed

[2022-10-27 12:56] kabir0x23 opened #274 "[BUG] Sidebar dropwown not working"
### Describe the bug

 The sidebar dropdown not working
![image](https://user-images.githubusercontent.com/44284877/198293652-6aa5898c-4165-4a8a-b12b-dbe1f43d3750.png)
when we click on this nav-item nothing happens

### To Reproduce

Click on the Sidebar > learn. dropdown not working

### Expected Behavior

Like this: the drop should be displayed
![image](https://user-images.githubusercontent.com/

[2022-10-27 13:10] avezqureshi14 commented on #274
Can you assign this to me

[2022-10-27 13:13] kabir0x23 commented on #274
Hey @avezqureshi14

I have updated the desc for the issue.

I have assigned this issue to you.

[2022-10-31 04:54] Rahul-Palamarthi commented on #274
Can you assign this issue to me

[2022-10-31 06:58] kabir0x23 commented on #274
I Have assigned this issue to you

If you need any help let us know

Thank You

[2022-10-31 10:53] Rahul-Palamarthi commented on #274
unable to download node_modules through the command "npm install"

[2022-10-31 11:14] Rahul-Palamarthi commented on #274
I fingured it out and now i will be working on the issue

[2022-10-31 11:22] kabir0x23 commented on #274
Awesome 🚀

[2022-10-31 14:13] Rahul-Palamarthi commented on #274
can we use className and CSS files  for styling??

[2022-10-31 14:20] kabir0x23 commented on #274
Okay you can use css

[2022-11-01 05:10] Rahul-Palamarthi commented on #274
I have finished my code and yet to commit but I am facing the issue during commit. Can you help me?
![Screenshot (95)](https://user-images.githubusercontent.com/87606332/199163404-d45fbb9c-840e-4b27-ac74-61bdf25bec42.png)

[2022-11-01 05:15] kabir0x23 commented on #274
Those are undefined variables, you can do comments or remove those, it will work

[2022-11-01 05:23] Rahul-Palamarthi commented on #274
Yes, The problem is solved

[2022-11-01 05:24] kabir0x23 commented on #274
Awesome

[2022-11-01 05:32] Rahul-Palamarthi commented on #274
I also made a PR to the main branch

[2022-11-01 05:33] Rahul-Palamarthi commented on #274
I also made a PR

[2022-11-01 05:40] kabir0x23 commented on #274
hey @Rahul-Palamarthi there are issues in navbar

now navbar is not working

[2022-11-01 05:54] Rahul-Palamarthi commented on #274
You can remove Navbar.jsx

Both the laptop and mobile design is in single component Navbars.jsx

[2022-11-01 05:56] kabir0x23 commented on #274
with the navbars it is not working

onhovering, it is causing issues (we are not able to react at dropdown menu) give a look

[2022-11-01 05:57] kabir0x23 commented on #274
you can do changes in the same Branch and push the code

[2022-11-01 06:04] Rahul-Palamarthi commented on #274
In desktop design the menu will only show when hover on the menu.
so they should show on click also in Desktop version??

[2022-11-01 06:06] Rahul-Palamarthi commented on #274
ok I figured the problem I will the looking at the issue.

[2022-11-01 06:09] kabir0x23 commented on #274
Okay 🚀

[2022-11-01 06:39] Rahul-Palamarthi commented on #274
In Desktop version when we hover on the element, then the options will appear but when we click on the element then the options will disappear??

[2022-11-01 06:42] kabir0x23 commented on #274
yes, absolutely

[2022-11-01 06:51] Rahul-Palamarthi commented on #274
Ok I will be working on it

[2022-11-01 09:00] Rahul-Palamarthi commented on #274
I have updated the code and it is responsive in both desktop and mobile version. Hope you like it 🧑‍💻

[2022-11-01 10:07] kabir0x23 commented on #274
Great, we will review the PR and merge very soon. until then/If you are looking to contribute more to the open-source, then you can give a look at other open issues or can create issues.

Thank you 😄.

[2022-11-01 10:32] #274 closed

[2022-11-02 06:38] #160 closed

[2022-11-02 06:38] #187 closed

[2022-11-07 04:30] nirajpdn commented on #129
@kabir0x23 any progress ? I would like to work on this issue.

[2022-11-08 08:48] kabir0x23 commented on #129
Yes sure, i have done the navigation and page part,
the issues is, it is not navigating to the absolute path.

[2022-11-08 09:31] kabir0x23 commented on #272
Hey @jahtomini
Are you working on this issue?

[2022-11-08 10:50] kabir0x23 opened #290 "[BUG] Sidebar Dropdown issue"
### Describe the bug

Sidebard Dropdown issue

### To Reproduce

when we click on the sidebar dropdown item, it does not close the whole sidebar

### Expected Behavior

When we click on the sidebar
- when we click on the natives of the dropdown, it should also display the close button or should be closed by clicking on the same navigate
- when we click on the sidebar dropdown, it should close the

[2022-11-08 13:25] kabir0x23 opened #292 "[BUG] non-responsive roadmap page"
### Describe the bug

![image](https://user-images.githubusercontent.com/44284877/200567688-6b8066b2-3c34-44bc-bc4d-487107a729a0.png)

![image](https://user-images.githubusercontent.com/44284877/200567671-9c8bef30-3013-4e3f-bc32-cb3051af4b43.png)

### To Reproduce

.

### Expected Behavior

_No response_

### Screenshot/ Video

_No response_

### Code of Conduct

- [X] I agree to follow this proje

[2022-11-08 14:35] jahtomini commented on #272
I've been occupied but yes, I'm on it

[2022-11-11 06:26] #129 closed

[2022-11-23 12:44] #292 closed